{% extends "hello/layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8"/>
    <title></title>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
 
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
   
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 
    <!-- Libraries Stylesheet -->
    <link href="{% static 'hello/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'hello/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
 
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'hello/css/bootstrap.min.css' %}" rel="stylesheet">
 
    <!-- Template Stylesheet -->
    <link href="{% static 'hello/css/style.css' %}" rel="stylesheet">
   
</head>
   
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
 
    <!-- Nav Bar Starts-->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
       
            <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="{% static 'hello/images/icon-home.png' %}" alt="Icon" style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">University Subletting</h1>
            </a>
           
            <div class="navbar-nav ms-auto">
                <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                <a href="{% url 'messages' %}" class="nav-item nav-link">Messages</a>
                <a href="{% url 'favorites' %}" class="nav-item nav-link">Favorites</a>
                <a href="{% url 'listing' %}" class="nav-item nav-link">My Listing</a>
                <a href="{% url 'add_listing' %}" class="nav-item nav-link">Add Listing</a>
                <a href="{% url 'profile' %}" class="nav-item nav-link"><img class="img-fluid" src="{% static 'hello/images/icon-profile.png' %}" alt="Icon" style="width: 25px; height: 25px;"></a>
            </div>
        </nav>
    </div>
    <!-- Nav Bar Ends-->       
    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Capstone Team</h1>
                <p>Fall 2022 - Spring 2023</p>
                <p>This project was completed by the following team members to provide an additional resource to assist Tulane students in finding housing. </p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.7s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'hello/images/lola-headshot.jpg' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <!--
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f" target="_blank"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter" target="_blank"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram" target="_blank"></i></a>
                                -->
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3" style="background: #FFFFFF">
                            <h5 class="fw-bold mb-0">Lola Ramineni</h5>
                            <small>Lola Ramineni is currently a senior at Tulane University pursuing degrees in Computer Science and Mathematics. Her work in these majors led her to become a Computer Science Instructor, where she shares her passion for learning about technology with students K-12. As part of her CS Capstone project, Lola specialises in front-end development and the design aspects of the website. Aside from her primary academics, she is also an active musician at Tulane as well as outside of the classroom.</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.1s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'hello/images/kayla-headshot.jpg' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/kaylafortson/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3" style="background: #FFFFFF">
                            <h5 class="fw-bold mb-0">Kayla Fortson</h5>
                            <small>Kayla is a current Junior attending Tulane University pursuing two degrees in Computer Science and Psychology. On campus, she is recognized as a Posse Scholar in the 12th cohort for the Los Angeles Posse Program and a second year Resident Advisor. She is also a member of the illustrious Alpha Kappa Alpha Sorority, Inc. She works as a student instructor for the course Foundations of Programming in Python. Kayla spent her previous summer interning for Oracle Cloud Infrastructure as a software engineer. She dedicates her time to volunteering with Microsoft TEALS at New Orleans high school Saint Katharine Drexel Prep Academy for over a year. Here, she supports young black women learning how to code. </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-center" style="margin-top:25px">
                <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.3s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'hello/images/laya-headshot.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <!--
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f" target="_blank"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter" target="_blank"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram" target="_blank"></i></a>
                                --> 
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3" style="background: #FFFFFF">
                            <h5 class="fw-bold mb-0">Laya Kumar</h5>
                            <small>Laya Kumar is a senior majoring in Computer Science and Psychology and minoring in Mathematics. Laya uses she/her/hers pronouns and is originally from Burlington, Massachusetts. In addition to working as a Digital Research Intern, she has co founded a technology based maritime startup called Port Lookout. She is also Head of Curators and Head of Marketing for the TedxTulane club on campus and served as IT Director for a robotics based nonprofit called RoboRecovery. Outside of school, Laya likes to travel and paint.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.5s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'hello/images/lexi-headshot.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square mx-1" href="https://www.facebook.com/alexis.preston.948" target="_blank"><i class="fab fa-facebook-f" target="_blank"></i></a>
                                <a class="btn btn-square mx-1" href="https://www.instagram.com/lexi.sareii/" target="_blank"><i class="fab fa-instagram" target="_blank"></i></a>
                                <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/alexisprestontu/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3" style="background: #FFFFFF">
                            <h5 class="fw-bold mb-0">Lexi Preston</h5>
                            <small>Alexis preston is currently a senior at Tulane University. Majoring in Computer Science and Sociology, and minoring in management. After college she will be working for Accenture in Los Angeles as a tech consultant. </small>
                        </div>
                    </div>
                </div>            
                <div class="col-lg-3 col-md-6 wow" data-wow-delay="0.7s">
                    <div class="team-item rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="{% static 'hello/images/halley-headshot.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/halleyvance/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3" style="background: #FFFFFF">
                            <h5 class="fw-bold mb-0">Halley Vance</h5>
                            <small>Halley Vance is a senior at Tulane University pursuing a B.S. in Computer Science and a B.S. in Physics. After interning at IBM in their design program and completing a minor in studio art, Halley plans on working in computer aided design after graduation.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Team End -->
    </body>
</html>
{% endblock %}
