{% extends "hello/layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Account</title>
</head>
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
<section class="vh-100 " style="margin-bottom: 500px;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body  text-center">
              <img src="{% static 'hello/images/icon-home.png' %}" alt="Icon" style="width: 120px; height: 120px; float:left; ">
              <h1 class="fw-bold text-uppercase text-white mt-3">
                University Subletting</h1>
  
              <div class="mb-md-5 mt-md-4 pb-5 text-center p-5">
  
                <h2 class="fw-bold mb-2 text-uppercase text-white">Create Account</h2>
                <p class="text-white-50 mb-5">Please enter your information!</p>

                
                <form action = "/userdisplay/" method = "post">
                  {% csrf_token %}
                    <p><label for="email" style="display:inline-block; width:100px" >School Email (.edu):</label><input type="text" id="email" name="email" style="margin-bottom:10px; margin-left:5px " pattern = "[a-zA-Z0-9]+@[a-zA-Z]+.edu" required></p>
                    <p><label for="firstname" style="display:inline-block; width:100px">First Name:</label><input type="text" id="firstname" name="firstname" style="margin-bottom:10px; margin-left:5px" pattern = "[A-Za-z '-]+" required></p>
                    <p><label for="lastname" style="display:inline-block; width:100px">Last Name:</label><input type="text" id="lastname" name="lastname" style="margin-bottom:10px; margin-left:5px" pattern = "[A-Za-z '-]+" required></p>
                    <p><label for="phone" style="display:inline-block; width:100px">Phone Number:</label><input type="text" id="phone" name="phone" style="margin-bottom:10px; margin-left:5px;" pattern = "^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"required></p>
                    <p><label for="gender" style="display:inline-block; width:100px">Gender:</label><select name="gender" style="margin-left:5px" required><option value="" disabled selected hidden></option><option value="Female">Female</option><option value="Male">Male</option><option value="Other">Other</option></select></p>
                    <p><label for="username" style="display:inline-block; width:100px">Create Username:</label><input type="text" id="username" name="username" style="margin-bottom:10px; margin-left:5px" required></p>
                    <p><label for="password" style="display:inline-block; width:100px">Create Password:</label><input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" style="margin-bottom:10px; margin-left:5px" required></p>
                    <p><label for="passwordConf" style="display:inline-block; width:100px">Confirm Password:</label><input type="password" id="passwordConf" name="passwordConf" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" style="margin-bottom:10px; margin-left:5px" required></p>
                    <p style="color:red;"><small>Password must contain at least one number, one uppercase character, one lowercase character, and at least 8 characters</small></p>
                    <!--Submit Button-->
                    <input class="btn btn-outline-light btn-lg px-5" type="submit">

                </form>
                
                <script>
                  var password = document.getElementById("password"), confirm_password = document.getElementById("passwordConf");

                  function validatePassword(){
                    if(password.value != confirm_password.value) {
                      confirm_password.setCustomValidity("Passwords Don't Match");
                    } else {
                      confirm_password.setCustomValidity('');
                      ///go to profile page?
                    }
                  }

                  password.onchange = validatePassword;
                  confirm_password.onkeyup = validatePassword;
                </script>
                

                <!-- Social Medias
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
              -->
  
              </div>
  
              <div>
                <p class="mb-0 text-center">Already have an account? <a href="{% url 'login_home' %}" class="text-white-50 fw-bold">Log In</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>
{% endblock %}